* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App */

/**

  #app
    .header
    .sidenav
    .main
      .<PageName>
        .main__background
        .main__wrapper
          .main__header
          .content
            .row-1|row-2|row-3|row-4
              .box
                .box__title
                .box__content

 */

/* Core */
@import 'core/mixins';

@import 'layout/reset';
@import 'layout/colors';
@import 'layout/boxes';
@import 'layout/effects';

/* Layout-components */
@import 'components/header';
@import 'components/sidenav';

/* Components */
@import 'components/buttons';

/* LAYOUT */

#app {
  height: 100vh;
  position: relative;
  width: 100vh;
}

/* Sites */
.content .box .form__thin input,
.content .box .form__thin select,
.content .box .form__thin button {
  color: #69707a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  /*border-radius: 3px;*/
}

.header  {
  .mobile,.tablet,.desktop {
    display: none;
  }

  @include mobile_only {
    .mobile {
      display: block;
    }
  }
  @include tablet {
    .tablet {
      display: block;
    }
  }
  @include desktop {
    .desktop {
      display: block;
    }
  }
}