---
import NavMenuItem from './NavMenuItem.astro';

const menu = [
  {
    name: "Overview",
    items: [
      {
        name: "Dashboard",
        icon: "activity",
        link: "/"
      },
      {
        name: "Notifications",
        icon: "slash",
        link: "/notifications"
      }
    ]
  },
  {
    name: "Sites",
    items: [
      {
        name: "Sites",
        icon: "folders",
        link: "/sites"
      },
      {
        name: "Hosting",
        icon: "slash",
        link: "/hosting"
      },
      {
        name: "Clients",
        icon: "slash", //"briefcase",
        link: "/clients"
      },
    ]
  },
  {
    name: "Pages",
    items: [
      {
        name: "Pages",
        icon: "layout",
        link: "/pages"
      },
      {
        name: "Sitemap",
        icon: "slash",
        link: "/sitemap"
      },
    ]
  },
  {
    name: "Assets",
    items: [
      {
        name: "Scripts",
        icon: "slash",
        link: "/scripts"
      },
      {
        name: "Css",
        icon: "slash",
        link: "/css"
      },
      {
        name: "Images",
        icon: "slash",
        link: "/images"
      },
      {
        name: "Fonts",
        icon: "slash",
        link: "/fonts"
      },
    ]
  },
  {
    name: "User",
    items: [
      {
        name: "Emails",
        icon: "slash",
        link: "/emails"
      },
    ]
  },
  {
    name: "WP",
    items: [
      {
        name: "Plugins",
        icon: "slash", // "sliders",
        link: "/plugins"
      },
      {
        name: "Themes",
        icon: "slash",
        link: "/plugins"
      },
    ]
  },
  {
    name: "Performance",
    items: [
      {
        name: "Metrics",
        icon: "slash",
        link: "/metrics"
      },
      {
        name: "Tests",
        icon: "slash",
        link: "/tests"
      },
    ]
  },
  {
    name: "Tools",
    items: [
      {
        name: "Import/Export",
        icon: "package",
        link: "/backup"
      },
    ]
  },
];

---
<section class="sidenav shadow-right hidden">
  <nav class="sidenav_menu">
    {
      menu.map(title => 
        <NavMenuItem name={title.name} items={title.items} />
      )
    }
  </nav>
  <dl class="sidenav_footer">
    <dt class="sidenav_footer--subtitle">Logged in as:</dt>
    <dd class="sidenav_footer--title">Christine de Pizan</dd>
  </dl>
</section>
<script>
  const nav = document.querySelector('.sidenav');
  const menuIcon = document.querySelector('.header .btn.btn-icon');

  function handleClickMenuButton(event) {
    event.preventDefault();
    nav.classList.toggle('hidden');
  }

  menuIcon.addEventListener('click', handleClickMenuButton);

  console.log(nav);
  console.log(menuIcon);
</script>