---
import NavMenuItem from './NavMenuItem.astro';

const menu = [
  {
    name: "Overview",
    items: [
      {
        name: "Dashboard",
        icon: "activity",
        link: "/"
      },
      /*
      {
        name: "Load times",
        icon: "clock",
        link: "/"
      }
      */
    ]
  },
  {
    name: "Webs",
    items: [
      {
        name: "Sites",
        icon: "folders",
        link: "/sites"
      },
      /*
      {
        name: "Pages",
        icon: "layout",
        link: "/"
      },
      {
        name: "Clients",
        icon: "briefcase",
        link: "/"
      },
      */
    ]
  },
  {
    name: "WP",
    items: [
      {
        name: "Plugins",
        icon: "sliders",
        link: "/plugins"
      },
    ]
  },
  {
    name: "Tests",
    items: []
  },
  {
    name: "Tools",
    items: [
      {
        name: "Import/Export",
        icon: "package",
        link: "/backup"
      },
    ]
  },
];

---
<section class="sidenav shadow-right hidden">
  <nav class="sidenav_menu">
    {
      menu.map(title => 
        <NavMenuItem name={title.name} items={title.items} />
      )
    }
  </nav>
  <dl class="sidenav_footer">
    <dt class="sidenav_footer--subtitle">Logged in as:</dt>
    <dd class="sidenav_footer--title">Christine de Pizan</dd>
  </dl>
</section>
<script>
  const nav = document.querySelector('.sidenav');
  const menuIcon = document.querySelector('.header .btn.btn-icon');

  function handleClickMenuButton(event) {
    event.preventDefault();
    nav.classList.toggle('hidden');
  }

  menuIcon.addEventListener('click', handleClickMenuButton);

  console.log(nav);
  console.log(menuIcon);
</script>