---
import Navigation from '../components/Navigation.astro';

import '../styles/main.scss';

title: 'My First Blog Post'
pubDate: '2023-11-11'
description: 'This is the first post of my new Astro blog.'
author: 'Astro Learner'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WPCare</title>
	</head>
	<body>
		<h1>WPCare</h1>
		<p>
			<Navigation />
		</p>
		<script>
			import "../scripts/main.js";
		</script>
	</body>
</html>
