---
import Links from '../components/Links.astro';
import Navigation from '../components/Navigation.astro';
import FeatherIcon from '../components/FeatherIcon.astro';

import '../styles/main.scss';

const {name,title,description} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<a rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WPCare</title>
	</head>
	<body id="app">
		<header class="header shadow">
      <button class="btn btn-icon">
        <FeatherIcon icon="menu" size="24" />
      </button>
      <a href="./index.html">
        <h1 class="header__title">WPCare</h1>
      </a>
      <form action="#">
        <div class="inputgroup null">
          <input class="inputgroup--input" type="text" name="" id="" value="" />
          <FeatherIcon icon="search" size="16" />
        </div>
      </form>
    </header>
		<Navigation />
		<main class="main">
			<section class="{name}">
				<div class="main__background"></div>
				<div class="main__wrapper">
					<div class="main__header">
						<h2 class="main__title">{title}</h2>
						<p class="main__description">{description}</p>
					</div>
					<div class="content">
						<slot />
					</div>
				</div>
			</section>
		</main>
		<script>
			import "../scripts/main.js";
		</script>
	</body>
</html>
